@model MediLaboSolutions.Web.Models.Patients.PatientDto

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4 text-muted">Nom</dt>
            <dd class="col-sm-8 fw-bold">@Html.DisplayFor(model => model.Nom)</dd>

            <dt class="col-sm-4 text-muted">Prénom</dt>
            <dd class="col-sm-8 fw-bold">@Html.DisplayFor(model => model.Prenom)</dd>

            <dt class="col-sm-4 text-muted">Date de naissance</dt>
            <dd class="col-sm-8 fw-bold">@Html.DisplayFor(model => model.DateNaissance)</dd>

            <dt class="col-sm-4 text-muted">Genre</dt>
            <dd class="col-sm-8 fw-bold">@Html.DisplayFor(model => model.Genre)</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4 text-muted">Téléphone</dt>
            <dd class="col-sm-8 fw-bold">@Html.DisplayFor(model => model.Telephone)</dd>

            <dt class="col-sm-4 text-muted">Adresse</dt>
            <dd class="col-sm-8">
                @if (Model.Adresse != null)
                {
                    <div class="fw-bold">@Model.Adresse.Numero @Model.Adresse.Voie</div>
                    <div class="fw-bold">@Model.Adresse.CodePostal @Model.Adresse.Ville</div>
                    <div class="fw-bold">@Model.Adresse.Pays</div>
                }
                else
                {
                    <em class="text-muted">Adresse non renseignée</em>
                }
            </dd>
        </dl>
    </div>
</div>
