@using MediLaboSolutions.Web.Models.Patients;
@model List<PatientDto>
@{
    ViewData["Title"] = "Liste des patients";
}

<h1>Liste des patients</h1>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Genre</th>
                <th>Adresse Postale</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.Nom</td>
                    <td>@patient.Prenom</td>
                    <td>@patient.DateNaissance.ToShortDateString()</td>
                    <td>@patient.Genre</td>
                    <td>@patient.AdressePostale</td>
                    <td>@patient.Telephone</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@patient.Id">Modifier</a> |
                        <a asp-action="Delete" asp-route-id="@patient.Id">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>Aucune patient</div>
}

<a asp-action="Create">Ajouter un patient</a>